    <!-- start masthead -->
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Previous Projects</h1>
        <p class="lead">Below are some of the sites I've either worked on and maintained, or developed myself in the past.</p>
        <p>
                  <%= link_to 'Learn more about me', about_me_path, class: "animsition-link btn btn-outline-secondary" %>
                  <%= link_to 'Check out my blog!', blogs_path, class: "animsition-link btn btn-outline-secondary" %>
          
          </p>
      </div>
    </section>
    <!-- end masthead -->