<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse pageNav">
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav mr-auto" >
  <%=  link_to "Bradley Campbell", root_path, class: "animsition-link navbar-brand"  %>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <%= nav_helper 'animsition-link nav-item nav-link', 'li'%>
      <%= login_helper 'animsition-link nav-item nav-link' %>
    </ul>
  </div>
  </div>
</nav>