<div class="inner cover about-cover">
  <h1 class="cover-heading">A Little About Me</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="about-text">
        <p>  Born and raised in Arizona, I've been in software for over seven years. During that time I've worked on numerous websites, web-applications, mobile apps, and MVC frameworks as a developer, lead, and project manager with countless tech tools and languages. I have learned that the strength and success of any endeavor is vitally hinged upon the respect for authority, humility, and upholding of those on either side of us, above us, and below us. Creating a work environment that effectively balances enduring work ethic and professionalism with a lighthearted and family like security is paramount in bringing a vision of any worth to its fruition. I knew I loved code the moment I laid eyes on it, and my first job in the industry sealed the deal. With the rest of my time I'm an avid motorcycle rider, musician, and family oriented man with high values and an exceptional moral aptitude.</p><br>
        
      </div>
    </div>
  </div>
</div>