<div class="inner cover about-cover">
  <h1 class="cover-heading">A Little About Me</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="about-text">
        <p>  I was born and raised in Arizona.  I've been a web developer for about 3 years now, and during that time I've worked on dozens of websites and web-applications. I knew I loved code the moment I laid eyes on it. With the rest of my time I'm an avid motorcycle rider, musician (singer), and old fashioned family man that values quality time and a little adventure.</p><br>
        <p>Here's an example of an API call to instagram where I requested my four most recent posts, parsed through the data, pulled out the urls to the thumb-nails and their respective widths, and populated img tags with some basic styling:</p>
      </div>
    </div>
  </div>

  <div class="row">
    <% @instagram.each do |photo| %>
      <div class="col-md-3">
        <div class="about-img">
            <img src="<%= photo[0] %>" width="<%= photo[1] %>">
        </div>
      </div>
    <% end %>
  </div>
</div>