<h1>Get in touch:</h1>

<hr>

  <div class="row">
  
    <div class="col-md-6">
      <h3>Office</h3>

      <p>7150 E Camelback Rd #444<br>Scottsdale AZ, 85251</p>

      <h3>Phone</h3>

      <p> <%= number_to_phone "4807347831" %> </p>

      <h3>Email</h3>

      <p><a href="mailto:bb.campbell606@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.944949124729!2d-111.92897748430079!3d33.5028093807589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b0bbd35df8635%3A0xf873d55c2d4dc69a!2s7150+E+Camelback+Rd+%23444%2C+Scottsdale%2C+AZ+85251!5e0!3m2!1sen!2sus!4v1484859702559" width="350" height="200" frameborder="0" padding="10" style="border:0" allowfullscreen></iframe> 
    </div>
  </div>



