<div class="inner cover">
  <h1 class="cover-heading">Bradley Campbell</h1>
  <h2>Developer - Engineer - Project Manager</h2>
  <p class="lead">My values rest in qualities that take my role in the industry above and beyond core functionality and task completion. Healthy relationships, Team work efficiency, A.G.I.L.E. development, and seeing projects through from start to finish, with dedication to principle and ethics, are at the forefront for me.</p>
  <p class="lead" id="home-button">
    <%= link_to 'See my experience', resume_path, class: "btn btn-outline-secondary animsition-link" %>
  </p>
</div>



