<div class="inner cover">
  <h1 class="cover-heading">Let's Develop More than Software</h1>
  <p class="lead">My values rest in qualities that take application development well above and beyond functionality.  Personally, the development process is always about service.</p>
  <p class="lead" id="home-button">
    <%= link_to 'See my resume', resume_path, class: "btn btn-outline-secondary animsition-link" %>
  </p>
</div>



