<div class="inner cover resume-cover">
  <div class="row">
    <div class="offset-sm-1 col-sm-2 profile-pic-col">
      <%= image_tag 'profile.jpg', alt: 'profile image', class: "profile-pic" %>
    </div>  
    <div class="col-sm-6">
      <h1 class="cover-heading">What should you expect?</h1>
      <p class="resume-lead">Organized project-management. Best-practice adherence. Professional communication.</p>
      <p class="resume-lead">I listen intently. I ask intelligent questions. I execute directives efficiently.</p>
      <hr id="resume-hr">
    </div>
  </div>

  <div class="row">  
    <div class="col-sm-12">
      <h3>My Development Experience: <span class="resu">(scroll)</span></h3>
        <%= render partial: "resume", locals: {resume_items: @resume_items } %>
    </div>
  </div>
</div>