<div class="inner cover tech-news-cover">
  <h1 class="cover-heading">Tech News</h1>
  <p>Here is another example of an API call, parsing through the data to grab recent tweets and wrap them in some HTML with a little styling.  In this example I've used the Twitter GEM.</p>
  <hr>
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-6">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parsor tweet %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
