@font-face {
  font-family: 'forum';
  src: url('forum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cormarant-light';
  src: url('cormarant-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'garamond-light';
  src: url('garamond-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'garamond-reg';
  src: url('garamond-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}